body{

    margin: 0;
}
header{
    background: #fff;
    text-transform: uppercase;
    color: red;
    padding: 20px 15px 20px 15px;
}
.left{
    background-color: #ffaa2b;
    width: 50%;
    height: 500px;
    float: left;
   text-align: center;
    padding-top: 25%;
}
.right{
    width: 50%;
    height: 500px;
    background: url("img/elie.jpg") no-repeat center center;
    float: right;
    background-size: cover;

}
button{
    padding: 20px 15px;
    border: 1px solid #fff;
    background-color: transparent;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;

}


